[% USE HTML %][% USE L %][% USE LxERP %]
<h1>[% FORM.title %]</h1>

 <form method="post" action="controller.pl" id="form">
  [% L.hidden_tag("id", SELF.project_status.id) %]

[%- INCLUDE 'common/flash.html' %]

  <table>
   <tr>
    <td>[% LxERP.t8('Name') %]</td>
    <td>[% L.input_tag("project_status.name" SELF.project_status.name) %]</td>
   </tr>
   <tr>
    <td>[% LxERP.t8('Description') %]</td>
    <td>[% L.input_tag("project_status.description" SELF.project_status.description) %]</td>
   </tr>
  </table>
 </form>
